
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Students Details</h4>
    <div class="card">
        <div class="card-header">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Link</th>

                    </tr>
                    <tr>
                        <th>Line Chart</th>
                        <th><a href="~/Home/Line">Click to View Line Chart</a></th>
                    </tr>
                    <tr>
                        <th>Bar Chart</th>
                        <th><a href="~/Home/Bar">Click to View Bar Chart</a></th>
                    </tr>
                    <tr>
                        <th>Doughnut Chart</th>
                        <th><a href="~/Home/Doughnut">Click to View Doughnut Chart</a></th>
                    </tr>
                    <tr>
                        <th>Polararea Chart</th>
                        <th><a href="~/Home/Polararea">Click to View Polararea Chart</a></th>
                    </tr>
                    <tr>
                        <th>Radar Chart</th>
                        <th><a href="~/Home/Radar">Click to View Radar Chart</a></th>
                    </tr>
                </thead>

            </table>
        </div>
    </div>
</div>

